DATABASE_URL=jdbc:postgresql://localhost:5432/panel_db
DATABASE_USERNAME=panel
DATABASE_PASSWORD=panel

REDIS_HOST=localhost
REDIS_PORT=6379

BOT_TOKEN=

PANEL_URL=http://localhost:2053
PANEL_USERNAME=admin
PANEL_PASSWORD=admin

PAYMENT_MERCHANT_ID=
